{% load static %}
<html>
<head>
<title></title>

<style>
img {
  float: right;
}
body {
  
  background-image: linear-gradient(#2980B9, #6DD5FA, #FFFFFF);
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
</style>
</head>
<body>
<p><img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/daisy1.png' %}" alt="Girl in a jacket" style="width:600px;height:400px;"> </p>

<p>
<h2>Name of Flower:</h2>  Daisy
<h2>Scientific Name:</h2> Bellis perennis
<h2>Fertilizers Used:</h2>  All-purpose fertilizer (10-10-10; equal amount of Nitrogen, Phosphorus and Potassium), fertilizer with high phosphorous. 
<h2>Seasons:</h2> Spring and autumn
<h2>Nurseries:</h2>  OM Nursery, Rajhans Nursery, Manakamana Nursery, Adhar Nursery
<h2>Summary:</h2>
Daisy are simple yet sophisticated and are some of the most beautiful flowers in the floral world. 
Daisy convey cheer and exuberance in spades. Not surprisingly, Daisy are popular both for gifting and growing in gardens. 
It was called Daisy because Daisy open at dawn as the day just starts to begin. Daisy symbolizes innocence and purity. 
It can also symbolize new beginnings. A Daisy is a perennial whose evergreen leaves form a basal tuft or a rosette. 
Daisy flower plant has a prostrate fashion or a growing habit of spreading.
Daisy can be propagated by division in spring or through sowing seeds in spring or late autumn. 
English Daisy is a serious weed in the northwest United States. The Daisy flowers open at dawn and are visited by many small insects. 
Daisy are used by children to make Daisy chains. The Daisy's leaves are edible and can be used in salads. 
Daisy flower is composed of white petals and a yellow center, although the flower can sometimes have a pink or rose color.  
A Daisy is made up of two types of flowers - disk florets and petal-like white ray florets. 
The disk florets are at the center and the ray florets are at the periphery but they are arranged to give the impression of being a single flower. 
This arrangement on Daisy is a type of inflorescence known as a capitulum.
The stems of Daisy are smooth and leafless and support a single flower. 
Daisy plants have 3 - 4 inch flower stalks. The Daisy leaf texture varies and may be smooth or hairy, narrow at the base and slightly lobed. 
The Daisy flower stalks are generally longer than the leaves. Daisy can be grown very easily. Daisy are hard perennials. 
Daisy are commonly grown from seeds. Daisy can be directly seeded into the flowerbed. Select a sunny location where they can grow undisturbed for years. 
Before planting, add generous amounts of manure and compost so that the soil becomes rich and well drained. 
If Daisy are planted in an area which is too hot, they should be shaded and watered regularly. Set the plants about 9 to 12 inches apart. 
Water the plants regularly during dry periods. Add a general purpose fertilizer in the early growth stage, and once a month afterwards. 
Generally Daisy are not bothered by insects and disease. If bothered by insects and disease, treat Daisy with an insecticidal soap or a fungicide. 
Just before blooming, use a fertilizer high in phosphorous as it helps to promote big, bright blooms. 
In cold weather regions, provide a thick layer of mulch for winter protection. 

<h2>Benefits:</h2>
<h4>1. Medicinal purpose:</h4>
Daisy contains natural substance known as L-arbutin which brightens skin. L-arbutin extract can block formation melanin which reduces production of dark spot. 
The Daisy flower symbolizes purity and innocence. Its name shows its ability to maintain pure and innocent look with its anti-aging properties. 
The extract of Daisy flower has antitussive, anti-inflammatory and expectorant and is used in form of tea for curing bronchitis, 
cold and other respiratory tracts. The extract of Daisy flower possesses diuretic, digestive, purgative and laxative properties. 
As it stimulates digestion system, it is effective for treating digestive tracts such as diarrhea, mild constipation, liver, and 
gastritis and gallbladder complaints. Daisy flower extract is helpful in healing sores, fresh wounds and scratches. Apply Daisy on 
the top of wounds directly. It contains antibacterial agents so is extracted into liquid poultice. Extract of flower is useful for 
those women experiencing heavy menstruation and pregnancy. It is beneficial for treating uterus problems leaded by bleeding and debility. 

<h4>2. Decoration purpose:</h4>
Flowers are ornamental plants. They are used for decorating. So, it makes the environment beautiful, fresh and healthy.
<h4>3. Increase the economy:</h4>
Nowadays, floriculture is doing as business. Consuming of flower is also increasing day by day which directly affects the business and helps in uplifting the economic condition. From this we can increase the economy of the people and ultimately of the country.
<p>
</body>
</html>