{% load static %}
<html>
<head>
<title></title>

<style>
img {
  float: right;
}
body {
  
  background-image: linear-gradient(#2980B9, #6DD5FA, #FFFFFF);
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
</style>
</head>
<body>
<p><img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/dandelion.png' %}" alt="Girl in a jacket" style="width:600px;height:400px;"> </p>

<p>
<h2>Name of Flower:</h2>  Dandelion
<h2>Scientific Name:</h2> Taraxacum officinale
<h2>Fertilizers Used:</h2>  Well aged compost 
<h2>Seasons:</h2> Autumn and summer
<h2>Nurseries:</h2>  OM Nursery, Rajhans Nursery, Manakamana Nursery, Adhar Nursery
<h2>Summary:</h2>
The species of Taraxacum are tap-rooted, perennial, herbaceous plants. The leaves are 5–25 cm long or longer, simple, lobed, and form a basal rosette above the central taproot. 
The flower heads are yellow to orange colored, and are open in the daytime, but closed at night. The heads are borne singly on a hollow stem (scape) that is usually leafless and rises 1–10 cm or more above the leaves. 
Stems and leaves exude a white, milky latex when broken. 
A rosette may produce several flowering stems at a time. The flower heads are 2–5 cm in diameter and consist entirely of ray florets. The flower heads mature into spherical seed heads sometimes called blow balls or clocks containing many single-seeded fruits called achenes. 
Each achene is attached to a pappus of fine hair-like material which enables wind-aided dispersal over long distances. 
The flower head is surrounded by bracts (sometimes mistakenly called sepals) in two series. 
The inner bracts are erect until the seeds mature, then flex downward to allow the seeds to disperse. 
The outer bracts are often reflexed downward, but remain appressed in plants of the sections Palustria and Spectabilia. 
The entire plant, including the leaves, stems, flowers, and roots, is edible and nutritious. Dandelions are found on 6 continents. 
The flower petals, along with other ingredients, usually including citrus, are used to make Dandelion wine. 
Its ground, roasted roots can be used as a caffeine-free coffee alternative. Dandelion was also traditionally used to make the traditional British soft drink Dandelion and burdock, and is one of the ingredients of root beer. 
Dandelion were once considered delicacies by the Victorian gentry, who used them mostly in salads and sandwiches. It is also called as ‘Lion’s tooth'. Dandelion has a major dangers i.e. its pollen can cause allergic reaction.
<h2>Benefits:</h2>
<h4>1.Decorating purpose:</h4>
Flowers are ornamental plants. They are used for decorating. So, it makes the environment beautiful. It is used as gift.

<h4>2.Medicinal purpose:</h4>
Dandelion is a rich source of vitamins A, B complex, and C, as well as minerals such as iron, potassium, and zinc. 
It work as antioxidant and to neutralize the harmful effects of free radicals. 
Dandelion contain bioactive compounds that may help lower a person's cholesterol.  
It contain compounds that may help with regulating blood sugar. 
It work as a reducing inflammation. Dandelion are a good source of potassium. 
There is clinical evidence that shows that potassium can help reduce blood pressure. 
Dandelion can help boost the immune system. Hence, this flower has a great benefits.
<h4>3.Increase the economy:</h4>
Nowadays, floriculture is doing as business. Consuming of flower is also increasing day by day which directly affects the business and helps 
in uplifting the economic condition. Dandelion flower is also used to make a wine. We can also have an income by selling it. 
Hence, from all this we can increase the economy of the people and ultimately of the country.  
</body>
</html>