{% load static %}
<html>
<head>
<title></title>

<style>
img {
  float: right;
}
body {
  
  background-image: linear-gradient(#2980B9, #6DD5FA, #FFFFFF);
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
</style>
</head>
<body>
<p><img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/rose.png' %}" alt="Girl in a jacket" style="width:600px;height:400px;"> </p>

<p>
<h2>Name of Flower:</h2>  Rose
<h2>Scientific Name:</h2> Rosa
<h2>Fertilizers Used:</h2>  N-P-Fertilizer and Epsom salt
<h2>Seasons:</h2> Almost every season
<h2>Nurseries:</h2>  OM Nursery, Rajhans Nursery, Manakamana Nursery, Adhar Nursery
<h2>Summary:</h2>
Rose is one of the most popular flower in the world. It is a woody perennial shrub and consists of over 100 species and thousands of cultivars. Rose grows well in mild temperature with plenty of sunlight and within a temperature range of 15-27°C. Medium loamy soil is good but need to be rich in organic matter that drains well and within pH of 5.5-6.5. It is found in all range of colors, sizes and fragrance and is truly the queen of flowers. Majority of the species are native to Asia with smaller numbers native to other continents. 
In Nepal, Rose cut flower production is currently based in Kathmandu, Lalitpur, Bhaktapur, Dhading and Chitwan. 
In these farms, greenhouse is semi-protected type with drip system/foggers but lack proper ventilation system, lack heating and insect net. 
In Nepal, Rose is planted by greenhouse. Rose should be planted in 2-row system in greenhouse. 
The planting distance is 30 cm from plant to plant and 40 cm from row to row accommodating 6 plants per sq. 
Holes shall be cut on the mulching plastic sheet in each of the planting position of Rose plants. 
Plants shall be planted in each of the holes and irrigated through drip lines. 
The most ideal season for planting Rose in greenhouse in Nepal is from September to October Rose is usually harvested in the morning. 
Clean secateurs are used to cut stems and the cut should be made very close to the main cane from which the stem has emerged. 
Red and pink cultivars can be harvested when first two petals of flowers start to unfold and calyx is reflexed below the horizontal line. 
However, the yellow types should be harvested slightly earlier and white Rose types slightly later than red and pink. 
Harvested stems are kept in bucket with cut stem dipped in water. Rose are graded on the basis of the stem length and are bunched in a group of 10 or 20.
In Nepal, stem length should be as long as possible and in a bunch of 20 stems. After, bunches are made, it is wrapped with plastic sleeve. 
Rose cut flower production system may depend on where the product is to be marketed and the greenhouse infrastructure and other logistics need 
to be set accordingly.

<h2>Benefits:</h2>
<h4>1. Medicinal purpose:</h4>
Rose has many merits in the medical field. One of the greatest benefits of Rose is its strong anti-inflammatory properties. 
These properties can help soothe the irritation. Rose water has been used as a beauty product for thousands of years, so that 
it can improve your complexion and reduce skin redness. The antibacterial properties may help reduce acne. 
The anti-inflammatory properties can reduce skin redness and puffiness. Rose petals and Rose oil contain a number of powerful antioxidants, 
which can help protect cells from damage. Rose water has antiseptic and antibacterial properties that can help wounds heal faster.
<h4>2. Decoration purpose:</h4>
Flowers are ornamental plants. They are used for decorating. So, it makes the environment beautiful, fresh and healthy. It is used as gift.
<h4>3. Increase the economy:</h4>
Nowadays, floriculture is doing as business. Consumption of flower is also increasing day by day especially in Valentine’s Day which directly affects 
the business and helps in uplifting the economic condition. Hence, this w can increase the economy of the people and ultimately of the country.  
<p>
</body>
</html>