{% load static %}
<html>
<head>
<title></title>

<style>
img {
  float: right;
}
body {
  
  background-image: linear-gradient(#2980B9, #6DD5FA, #FFFFFF);
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
</style>
</head>
<body>
<p><img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/sunflower.png' %}" alt="Girl in a jacket" style="width:600px;height:400px;"> </p>

<p>
<h2>Name of Flower:</h2>  Sunflower
<h2>Scientific Name:</h2> Helianthus
<h2>Fertilizers Used:</h2>  Nitrogen, phosphate and potash
<h2>Seasons:</h2> Summer
<h2>Nurseries:</h2>  OM Nursery, Rajhans Nursery, Manakamana Nursery, Adhar Nursery
<h2>Summary:</h2>
Sunflowers commonly bloom during summer and a portion of fall with the middle of summer as the peak season. 
The optimal temperatures for growing Sunflowers is between 70 and 78 degrees Fahrenheit, with soil temperatures of at least 
55 to 60 degrees when the seeds are sown. Sunflower is notable for turning to face the Sun, a behavior known as heliotropism. 
Sunflower seeds have lots of calcium and 11 other important minerals. They do have 50% fat, but it is mostly polyunsaturated linoleic acid. 
Wild Sunflower is highly branched with small heads and small seeds, in contrast to the single-stem and large seed head of domesticated Sunflower. 
Sunflower perfumes are also popular. The edible Sunflower seeds can be eaten raw, cooked, roasted, or dried and ground for use in bread or cakes, 
as a snack. The seeds and the roasted seed shells have been used as a coffee substitute. Oil can be extracted and used for cooking and soap making. 
Sunflowers do best in soil with lots of water holding capacity, drainage and fertilizer.  Sunflower roots grow deep and spread a lot,
so they can stand a dry spell every now and then. You should not over water a Sunflower 20 days before and 20 days after flowering. 
This might deform the flower heads. If you really want your Sunflower to do well, do soil tests. Too high nitrogen is not good,
and make sure you have potassium and phosphorus in the soil. For harvesting, we should indoor bouquets, cut the main stem just 
before its flower bud has a chance to open to encourage side blooms. Cut stems early in the morning. Harvesting flowers during
middle of the day may lead to flower wilting. Handle Sunflowers gently. The flowers should last at least a week in water at room temperature. 
Arrange Sunflowers in tall containers that provide good support for their heavy heads, and change the water every day to keep them fresh.


<h2>Benefits:</h2>
<h4>1. Medicinal purpose:</h4>
Sunflower seeds are rich in fiber, which by themselves help to promote bile excretion in feces and a corresponding reduction in overall cholesterol, as cholesterol is required for synthesis of new bile acids. 
It helps in controlling the sugar level in our body. Sunflower seeds are an excellent source of Vitamin E,
which plays an integral role in skin health and maintenance. The mineral magnesium is responsible for Sunflower seeds beneficial effects on mood, 
helping to improve brain levels of serotonin, a neurotransmitter strongly determinant of our mood. It also helps to reduce levels of the stress. 
Hence, Sunflower has a many merits in medical fields. 
<h4>2. Decoration purpose:</h4>
Flowers are ornamental plants. They are used for decorating. So, it makes the environment beautiful, fresh and healthy.
<h4>3. Increase the economy:</h4>
Nowadays, floriculture is doing as business. Consumption of flower is also increasing day by day which directly affects the business 
and helps in uplifting the economic condition. From the flower of Sunflower plant we can get oil. 
We can also have an income by selling it Hence, this we can increase the economy of the people and ultimately of the country.  
<p>
</body>
</html>