{% load static %}
<html>
<head>
<title></title>

<style>
img {
  float: right;
}
body {
  
  background-image: linear-gradient(#2980B9, #6DD5FA, #FFFFFF);
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
</style>
</head>
<body>
<p><img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/tulip.png' %}" alt="Girl in a jacket" style="width:600px;height:600px;"> </p>

<p>
<h2>Name of Flower:</h2>  Tulip
<h2>Scientific Name:</h2> Tulipa
<h2>Fertilizers Used:</h2>  Bulb fertilizer 
<h2>Seasons:</h2> Spring and autumn
<h2>Nurseries:</h2>  OM Nursery, Rajhans Nursery, Manakamana Nursery, Adhar Nursery
<h2>Summary:</h2>
Tulip is a popular spring flower of all time. It is known for its incredible variety of colors, heights, and flower shapes. 
Tulips are very popular to an extent that during the 17th century. It was popularly known as the Tulipomania. 
It is the third most popular flowers world-wide next only to the Rose and Chrysanthemum.   Some Tulip are even fragrant. 
Tulip bloom on bulbous plants, with large, showy flowers with six petals. There are now over 3,000 different registered varieties of cultivated Tulip. 
Tulip were first cultivated and hybridized by the Turks of the Ottoman Empire. Tulips symbolize imagination, dreaminess, 
perfect lover and a declaration of love. Fresh out of onions? Use your Tulip bulbs instead! 
Tulip bulbs are a good replacement for onions in cooking. Tulip are very easy to grow. 
Many people design an artistic, colorful layout for the Tulip blooms. For growing Tulip: Select the location for planting. 
Prepare the soil by working it well, removing rocks and weeds. Mix in plenty of organic material and fertilizer. 
Special bulb formulas and bone meal work best. The Tulip will bloom in almost any soil with a good drainage. 
When buying Tulip bulbs, select only the finest quality bulbs. In general the bigger the bulb, the bigger the bloom. 
Follow the directions from the supplier for spacing and depth. If no directions are included, plant the bulbs 6-8" apart and 
at a depth twice the diameter of the bulb. After the Tulip bloom, let the plant continue to grow until it dies off. 
During the post bloom period, the plant sends energy to the bulb to store for use next spring. 
Tulip require a period of cold while they are dormant and resting between shows. Tulip are vivacious perennial plants,
 i.e. they lose their outer parts but conserve the underground stems called bulbs. 
 For the propagation of new Tulip bulbs one should cut them and leave the stem and the leaves to dry off. 
 Usually this should be done before the Tulip dry off, approximately some three weeks after blooming. 
 After a month and a half of having cut the Tulip flowers, extract the bulbs and conserve in a cold, dry place. 
 A high temperature can ruin the Tulip bulb or result in a poor quality in new plants. 
 (These conditions are applicable to both types of cultivations, either in soil or in hydroponics). 
 The Tulip's fruit is a globose or ellipsoid capsule with a leathery covering and an ellipsoid to globe shape. 
 Each capsule contains numerous flat, disc-shaped seeds in two rows per chamber. These light to dark brown seeds have very thin seed coats and 
 endosperm that does not normally fill the entire seed.

<h2>Benefits:</h2>
<h4>1. Medicinal purpose:</h4>
Tulip flowers are known to be an excellent poultice for insect bites, bee stings, burns, and rashes on the skin, as it gave quick relief with a soothing effect.
<h4>2. Decoration purpose:</h4>
Flowers are ornamental plants. They are used for decorating. So, it makes the environment beautiful, fresh and healthy.
<h4>3. Increase the economy:</h4>
Nowadays, floriculture is doing as business. Consuming of flower is also increasing day by day which directly affects the business 
and helps in uplifting the economic condition. 
From this we can increase the economy of the people and ultimately of the country.
<p>
</body>
</html>